/* You can add global styles to this file, and also import other style files */

html{
    height: 100%;
}

body{
    height: 100%;
}

.root-container{
    height: 100%;
}

.color-gray{
    color: gray;
}

.connection-lost{
    border-color: red!important;
}

.connection{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.badge-indicator{
    font-size: 30px;
}

.online{
    color: #007bff!important;
}

.offline{
    color:red!important;
}