<div class="row app-row">
    <app-nav class="col-lg-2 horizontal-nav-container" *ngIf="currentUser"></app-nav>
    <div class="col-lg-10 body-container">
        <app-horizontal-nav *ngIf="currentUser"></app-horizontal-nav>
        <div class="router-outlet-container">
            <router-outlet></router-outlet> 
        </div>
    </div>
</div>

<!-- <div class="row app-row">
    <app-nav  *ngIf="currentUser"></app-nav>
    <div class="flex-fill">
        <app-horizontal-nav  *ngIf="currentUser"></app-horizontal-nav>
        <div class="router-outlet-container">
            <router-outlet></router-outlet> 
        </div>
    </div>
</div> -->


