
<h2 class="text-monospace font-weight-bold text-center col-sm-12 mb-4" style="padding-top: 100px;">ToolBox</h2>
<div class="d-flex justify-content-center login-container col-sm-12">  
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-sm-4">
    <div class="form-group">
      <input type="email" placeholder="Email address" formControlName="email" class="form-control"
       [ngClass]="{ 'is-invalid': submitted && form.email.errors }" >
       <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.email">Please enter email</div>
        <div *ngIf="form.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" formControlName="password" class="form-control" 
       [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
    </div>
    <button [disabled]="loading" class="btn btn-outline-primary col-sm-12">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Sign in
  </button>
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </form>
</div>  


