
    <div  [ngClass]="{'server-connection-lost': !server.isAlive }" class="card border-primary mb-3 ml-4 mr-4 sever-badge-container" style="max-width: 18rem; min-height:160px;">
        <div class="card-header bg-transparent border-primary">
            <div class="row">
                <div class="col-sm-3 mr-4 d-flex align-items-center">
                <i class="fa fa-server fa-2x mr-2 " style="color: gray;" aria-hidden="true"></i>
                </div>

               <div class="sol-sm-9">
                   <div class="row"> <h5 class="font-weight-bold" style="display: contents;">{{server.name}}</h5></div>
                   <div class="row"> <small>{{server.serverAddress}}</small></div>
               </div>
               
            </div>
          
        </div>
        <div class="card-body">
            <p class="text-muted">Server status:  <span class="badge badge-success">Connected</span></p>
          <p class="text-monospace font-weight-bold font-weight-normal"><span class="color-gray">Page reads/sec:</span> {{server.pageReadsCount}}</p>
          <p class="text-monospace font-weight-bold font-weight-normal"><span class="color-gray">Page Lifetime:</span> {{server.pageLifetime}}</p>
          <p class="text-monospace font-weight-bold color-gray font-weight-normal mb-0"> Connected users:  {{server.connectedUsers}}</p>
          <p class="text-monospace font-weight-bold color-gray font-weight-normal mb-0">{{server.description}}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-danger  col-sm-6" (click)=goToQueries()>
                Slow Queries
            </button> 
            <button class="btn btn-outline-success col-sm-6" (click)="goToDatabases()">
                Databases
            </button> 
        </div>
      </div>





  