
    <div class="card border-primary mb-3 ml-4 mr-4" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-primary">
            <i class="fa fa-server fa-2x mr-2" style="color: gray;" aria-hidden="true"></i>
            <h5 class="font-weight-bold" style="display: contents;">{{server.name}}</h5>
        </div>
        <div class="card-body text-primary">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-primary">Footer</div>
      </div>





  